@using Microsoft.ApplicationInsights.Extensibility
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <environment Names="Development">
        <link href="~/lib/semantic/dist/semantic.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment Names="Staging,Production">
        <link href="~/lib/semantic/dist/semantic.min.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    @Html.ApplicationInsightsJavaScript(new TelemetryConfiguration())
</head>
<body>

<!--Side Bar-->
<div class="ui visible inverted left vertical sidebar menu">
    <a class="item"><i class="home icon"></i>Home Page</a>
</div>

<!--Fixed Nav Bar-->
<div class="ui top fixed menu">
    <a class="item" asp-controller="LoggedIn" asp-action="Logout">Logout</a>
</div>

<!--Content from cshtml pages-->
<div class="pusher">
    @RenderBody()
</div>

<environment Names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/semantic/dist/semantic.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js"></script>
</environment>
<environment Names="Staging,Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/semantic/dist/semantic.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
